@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

* {
  margin: 0;
  font-family: "SF Pro Text", Arial, sans-serif;
  font-weight: 500;
}

:root {
  --bg-color: #fff;
  --primary-color: #6852d3;
  --text-color: #1c1c1c;
  --icon-color: #53575d;
  --act-color: #3ebb13;
  --bg-act-color: #3ebb1329;
  --bg-input-color: #f6f7f9;
  --bg-login-color: linear-gradient(90deg, #db00ff 0%, #4228e2 100%);
  --border-input-color: #f1f1f1;

  --grey-400: #7c8db0;
}
